#header {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

canvas {
  border: 1px solid #000;
  width: 700px;
  height: 700px;
  display: flex;
}

#settings {
  justify-content: top;
}